html {
	font-size: 14px;
}

body {
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	color: #aaa;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#header {
	position: relative;
	height: 100px;
	width: 100%;
	background-color: #f1f1f1;
	margin-top: 5px;
	font-size: 0.8em;
}

#content {
	width: 100%;
	float: left;
}

#footer {
	width: 100%;
	background-color: #f1f1f1;
	float: left;
	clear: both;
	text-align: center;
	padding: 20px 0;
	clear: both;
	margin-top: 2px;
}

#nav-menu {
	width: 100%;
	float: left;
}

.space {
	display: &nbsp;
}

div#lang-select {
	float: right;
	clear: both;
}

#register-form-panel {
	margin: 0 auto;
}

.content-panel {
	border: 0;
}

#header .ui-widget-content a {
	color: #CE8847;
	text-decoration: none;
}

#header .ui-widget-content a:HOVER {
	color: #FFA858;
}

#header .ui-widget-content {
	background: #f1f1f1;
	border: 0;
}
