<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
</head>
<body>
	<ui:composition>
		<p:panel id="lang-select">
			<p:link outcome="/pages/protected/user/userProfile"
				value="#{sessionBean.user.username}"
				rendered="#{sessionBean.userLoggedIn}" />
			
			<h:form style="display:inline;">
				<h:commandLink value="Polski"
					action="#{languageBean.selectLanguage('pl')}" />
				<span class="space"></span>
				<h:commandLink value="English"
					action="#{languageBean.selectLanguage('en')}" />
			</h:form>
		</p:panel>
	</ui:composition>
</body>
</html>